* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: @workspacesbackground1;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: @textcolor1;
    border: 3px solid #FFFFFF;    
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor1;
    background-color: @workspacesbackground2;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspacesbackground2;
    border-radius: 15px;
    opacity:0.7;
}

tooltip {
    border-radius: 10px;
    background-color: @backgroundlight;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @textcolor2;
}

#window {
    background: @backgroundlight;
    margin: 8px 15px 8px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@textcolor2;
    border: 3px;
    font-size:16px;
    font-weight:normal;
    opacity:0.8;
}

window#waybar.empty #window {
    background-color:transparent;
}

#taskbar {
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid #FFFFFF;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-brave, 
#custom-browser,
#custom-mail, 
#custom-filemanager, 
#custom-wallpaper, 
#custom-system,
#custom-waybarthemes {
    margin-right: 23px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}
 
#idle_inhibitor {
    margin-right: 15px;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    color: @iconcolor;
}

#idle_inhibitor.activated {
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
    color: #dc2f2f;
}

#custom-appmenuicon {
    background-color: #dc2f2f;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 6px 15px 6px 14px;
    opacity:0.8;
    border:3px solid #ffffff;
}

#custom-exit {
    margin: 0px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: #FFFFFF;
    border-radius: 15px;
}

#custom-updates {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    border:3px solid #ffffff; }

#custom-updates.green {
    background-color: yellowgreen;
}

#custom-updates.yellow {
    background-color: #ff9a3c;
    color: #FFFFFF;
}

#custom-updates.red {
    background-color: #dc2f2f;
    color: #FFFFFF;
}

#clock {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 1px 10px 0px 10px;
    margin: 6px 15px 6px 0px;
    border:3px solid #FFFFFF;   
}

#pulseaudio {
    background-color: #dc2f2f;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    border:3px solid #ffffff;    
}

#pulseaudio.muted {
    background-color: black;
    color: #FFFFFF;
}

#tray {
    padding: 0px 15px 0px 0px;
    color: #FFFFFF;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#keyboard-state {
    background-color: #bcdc2f;
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 8px 15px 8px 0px;
    border:3px solid #ffffff;    
}